<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>

    <header>
        <p style='display:inline-block;margin-top: 10px;'>currency</p>
            <div class ='logcontainer'>

                <p><%= username %> </p>
            </div>  
    </header>

    <main>

    </main>

    <footer>
        <h1>contact us</h1>
       
    </footer>

    <script defer src="index.js"></script>


    
    
</body>
</html>