<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>

    <header>
        <p style='display:inline-block;margin-top: 10px;'>currency</p>
            <div class ='logcontainerejs'>
                
                <form style='float:right' action="/logout" method="post">
                    <button  id='logout_button'>logout</button>
                </form>
                <p id ='usertext'><%- username %> </p>
                
            </div>  
    </header>

    <main>
        <% for (i of alerts) {%>
            <section class ='alerts-container'>
                <header>
                    alerts
                </header>

                <div class="alerts">
                    alert #
                </div>
            </section>

        <%}%>

    </main>

    <script defer src="index.js"></script>

    <footer>
        <h1>contact us</h1>
       
    </footer>

    


    
    
</body>
</html>